[submodule "Libraries/tlsf"]
	path = Libraries/tlsf
	url = https://github.com/mattconte/tlsf.git
[submodule "Libraries/Nuklear"]
	path = Libraries/Nuklear
	url = https://github.com/Immediate-Mode-UI/Nuklear.git
[submodule "Libraries/flecs"]
	path = Libraries/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "Kinc"]
	path = Kinc
	url = https://github.com/Kode/Kinc.git
